@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 20%;
    border-left: 1px solid #727272;
}

.arrow {
    cursor: pointer;
    display: inline-block;
}

/* 開いたときに矢印回転 */
#arrow {
    display: inline-block;
}

#arrow.rotated {
    transform: rotate(180deg);
}

/* 強制的にアニメーションは無し */
.collapsing {
    transition: none !important;
}

body {
    margin: 0 auto;
}


/* login side-menu */
#confirm {
    padding: 20px;
    border-bottom: 1px solid #727272;
}

.side_count {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.btn a {
    display: block;
    color: #fff;
    background-color: #186AC9;
    border-radius: 5px;
    padding: 10px 0;
    width: 150px;
}

.btn_right {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
}

.btn_center {
    display: block;
    margin: 20px auto;
    text-align: center;
    width: fit-content;
}

/* //navigation// */
#head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#head img {
    width: 100px;
}

#head h1 {
    margin: 0;
    padding: 20px;
}

#head p {
    margin: 0;
    color: #fff;
}

#menuContent {
    padding: 0;
    position: absolute;
    top: 80px;
    right: 0;
    width: 20%;
    background-color: #fff;
    z-index: 100;
    border-left: 1px solid #727272;
    text-align: center;
}

#menuContent a {
    text-decoration: none;
    color: #909090;
    border: solid #00297e 1px;
    display: block;
    padding: 30px 0;
}

.menuContent_li {
    color: #fff;
    background-color: #00297e;
}

#menuContent_li a {
    color: #eff1f7;
}

#accordionMenu {
    display: flex;
    align-items: center;
}

#accordionMenu img {
    height: 50px;
    width: 50px;
    margin: 0 30px;
}



/* Post画面 */
.post_area {
    display: flex;
    border-bottom: #e0e0e0 10px solid;
    padding: 50px;
}

.post_form {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

textarea.form-control {
    height: 100px;
    width: 80%;
    border: none;
    box-shadow: none;
    resize: none;
}

.user_icon,
.post_icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

ul {
    display: flex;
    padding: 30px;
    padding-left: 10%;
    justify-content: space-between;
    border-bottom: solid #e0e0e0 2px;
}

.post_left {
    display: flex;
}

.trash_box {
    position: relative;
}

.trash {
    position: absolute;
}

.trash_hover {
    position: absolute;
    opacity: 0;
}

.trash_hover:hover {
    opacity: 1;
    z-index: 100;
}
