@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.arrow {
    cursor: pointer;
    display: inline-block;
}

/* 開いたときに矢印回転 */
#arrow {
    display: inline-block;
}

#arrow.rotated {
    transform: rotate(180deg);
}

/* 強制的にアニメーションは無し */
.collapsing {
    transition: none !important;
}

body {
    margin: 0 auto;
}


/* login side-menu */
#confirm {
    padding: 20px;
    border-bottom: 1px solid #727272;
}

.side_count {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.btn a {
    display: block;
    color: #fff;
    background-color: #186AC9;
    border-radius: 5px;
    padding: 10px 0;
    width: 150px;
}

.btn_right {
    display: block;
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
}

.btn_center {
    display: block;
    margin: 20px auto;
    text-align: center;
    width: fit-content;
}
